/* CSS Document */
body{
}
#header{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	overflow:auto;
	
}
.subnav{
	background-color:#EEE;
	border-radius: 4px;
	-moz-border-radius:4px;
}
#wrapContent{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	overflow:auto;
}
#rooms{
	text-align:left;
}
.aRoom{
    /*height: 80px;
    width: 150px;*/
	margin: 10px;
	text-align:center;
	box-shadow:#999 5px;
	
}
.aRoom button{
	width:30px;
    height: 30px;
    margin: 1px;
    padding: 4px 4px !important;
}
.aRoom h1{
	font-size:2em !important;
	
}
.aRoomAvailable{
	background:#9C6 !important;
}
.aRoomBusy{
	background:#C90 !important;
}

.aRoomBusy-Night{
	background:#999 !important;
}

.aRoomBusy-Hour{
	background:#C90 !important;
}

.aRoomBusy-Day{
	background:#B94A48 !important;
}

.input-append input,textarea
{
    background-color: #FFFFFF !important;
}



#formDatPhong{
	
	position:fixed;
	top:5%;
	left:15%;
	z-index:1050;
	overflow:auto;
	box-shadow: 0px 0px 4px 4px gray;
	background:#FFF;
	
}
#formPhuThu{
	padding:0px 20px;
	position:fixed;
	top:5%;
	left:15%;
	z-index:1050;
    max-height: 600px;
	overflow:auto;
	box-shadow: 0px 0px 4px 4px gray;
	background:#FFF;
	
}
#formThanhToan{
	position:fixed;
	top:3%;
	left:10%;
	z-index:1050;
    max-height: 700px;
    overflow:auto;
	box-shadow: 0px 0px 4px 4px gray;
	background:#FFF;
}

.row-fluid-expand
{
    width: 105%; /**/
}

.table-max-size
{
    max-height: 320px;
    overflow: auto;
}

/*.span-min-size
{
    min-width: 300px;
}

.span-table-min-size
{
    min-width: 400px;
}

.no-margin
{
    margin-left: 0%;
}

a.no-padding
{
    padding: 0px;
}



a.collaspe-text-header
{
    color: white;
    font-size: 22;
    font-weight: 200;
}
*/

.span-space .control-label
{
    width: 110px;
    text-align: left;
}

.span-space .controls
{
    margin-left: 120px;
}


#ui-datepicker-div{
	font-size:0.9em;
}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size:50% !important; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-dialog-titlebar { display:none; }
.ui-resizable-handle{ display: none !important;}




.modal {
  position: absolute;
  top: 5%;
}

.modal-body
{
    max-height: 520px
}

/*Radio Button Bootstrap CSS*/
div.btn-group[data-toggle=buttons-radio] button.active {
    background-color: #2F96B4;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


