@{
    ViewBag.Title = "Index";
   
}
@using HotelBLL.Models
@model SearchProductItemViewModel
 

<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng đến @Model.StartDate.ToString("HH:mm") ngày @Model.StartDate.ToString("dd-MM-yyyy")
               

            </th>
            <th>
                Đơn vị tính
            </th>
            <th>
                Số lượng bán
            </th>
            <th>
                Số lượng nhập xuất
            </th>
             <th>
                Còn lại
            </th>
             <th>
                Thực tế
            </th>
             
        </tr>
    </thead>
    <tbody>
       @{
           int i = 0;
           foreach (var item in Model.ProductItems)
           {
               i = i + 1;
               item.Index = i;
               @Html.Partial("_ProductItem", item)
           }
       }
    </tbody>
</table>


