@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HotelBLL.Models
@model IEnumerable<HotelDAL.InventoryHistory>
 
 <h2>BÁO CÁO TỒN KHO </h2>
 <form class="well form-inline">
Từ thời điểm
<select id="cboInventoryHistory" name="cboHistoryList">
    @foreach (var item in Model)
    {
        <option value="@item.HistoryID">@item.CheckingDate.ToString("dd-MM-yyyy HH:mm")</option>
    }
</select>

Đến
<input type="text" id="EndTime" name="txtEndTime"/>
<input class="btn btn-primary" type="button" onclick="ReportInventory()"   value="Báo cáo"/>
<input class="btn btn-info" type="button" onclick="UpdateInventoryHistory()"   value="Cập nhật tồnkho"/>

</form>
<div id="ProductItemTable"></div>

<div id="WindowsFromAjax" style="width: auto !important; margin-left: auto; margin-right: auto;
    display: none;">
</div>

<script language="javascript">

    $(document).ready(function () {

        var currentDate = new Date();

        $('#EndTime').datetimepicker({
            dateFormat: 'dd-mm-yy'
        });
        $('#EndTime').datetimepicker('setDate', currentDate);

        ReportInventory();
    });


    function ReportInventory() {
       
        var historyID = $('#cboInventoryHistory').val();
        var endTime = $('#EndTime').val();
        endTime = ConvertDateVNToUS(endTime);
      
        
        $.ajax({
            url: "/Inventory/ReportProductItemInventory",
            type: "GET",
            data: { HistoryId: historyID, EndTime: endTime },
            success: function (result) {
                $("#ProductItemTable").fadeOut(300, function () {
                    $('#ProductItemTable').html(result);
                    $("#ProductItemTable").fadeIn(300);
                });
            }
        });
    }
    
    function UpdateInventoryHistory() {

        var productItemList = new Array();
        var realisticList = new Array;

        $(".txtRealistic").each(function () {
            var productItemId = $(this).attr('data-productItemId');
            var realisticQuantity = $(this).val();
           
            productItemList.push(productItemId);

            realisticList.push(realisticQuantity);
           
        });

        var postData = { values: productItemList };
        $.ajax({
            url: "/Inventory/UpdateInventoryHistory",
            type: "GET",
            data: { productItemList: productItemList, realisticList: realisticList },
            success: function (result) {
                alert(result);
            },
            traditional: true
        });
    }

</script>

