@using HotelDAL
@model Payment
@{
    Layout = null;
}


<tr id="paymentid-@Model.PaymentID">
    <td>
    @Model.Notes
    </td>
    <td>
        @Model.Amount.ToString("N0")
    </td>
    <td>
        @Model.PayTime.Value.ToString("dd-MM HH:mm")
    </td>
    
    <td>
            <button type="submit" class="btn btn-inverse btn-mini" onclick="RemovePayment(@Model.PaymentID,@Model.Amount);">
                Xóa</button>
    </td>
</tr>
                

    