@using HotelDAL

@{
    Layout = null;
}
 
@{
    int rentId = ViewBag.RentId;
    IEnumerable<ProductCategory> categories = ViewBag.ServiceCategory;
}
<div class="row-fluid">
    <div class="span6">
        <h5>Danh sách dịch vụ </h5>
        <input type="hidden" value="@rentId" id="txtRentId" />
        
         
        <div title="Loại dịch vụ" class="btn-group" data-toggle="buttons-radio">
                        
            <button type="button" class="btn btn-small active" id="btnHourFee" onclick="  LoadItemByCategory(@rentId,0)">
                Tất cả</button>
            @{
                foreach (ProductCategory category in categories)
                {
                    <button type="button" class="btn btn-small" onclick="  LoadItemByCategory(@rentId,@category.CateID)">
                        @category.CateName</button>
                }
            }

       
        </div>         

                    
        <div id="wrapMenu"  class="table-max-size">
        </div>
    </div>
    <div class="span6">
    <h5>Dịch vụ đã gọi</h5>
        @Html.Action("LoadItems", "Service", new {rentId, editable = true})
        
    
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var rentId = $("#txtRentId").val();
        LoadItemByCategory(rentId, 0);
//        $("#wrapOrderTable").mCustomScrollbar();
    });
</script>
