@using HotelDAL
@model Customer
     @{
         int cusId = @Model.CustomerID;
     }
                <tr id="customerid-@cusId" >
    
                    <td >
                        @Model.PersonID
                    </td>
                    <td >@Model.CustomerName
                    </td>
                    <td >@Model.Address
                    </td>
                    
                    <td >
                        <button id="btnRemoveItem" class="btn btn-inverse btn-mini" onclick="removeCustomer(@cusId); ">
                            Xóa</button>
                    </td>
   
                </tr>
          
