@model IEnumerable<HotelDAL.ProductItem>
@{
    ViewBag.Title = "Index";
    }
<table class="table table-bordered table-striped table-fixed-header " style="overflow-x: scroll;">
    <thead class="header">
        <tr>
            <th align="center">
                STT
            </th>
            <th>
                Thành phần
            </th>
            <th>
                Ðơn vị
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model)
            {
                index++;
            <tr>
                <td>
                    @index
                </td>
                <td id="nr">
                    @item.ItemName
                </td>
                <td>
                    @item.Unit
                </td>
                <td>
                    <a href="#tungModal" role="button" class="open btn btn-success" data-toggle="modal" data-id="@item.ItemName">
                        Thêm</a>
                </td>
            </tr>
            }
            
            <!-- Modal -->
            <div id="tungModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×</button>
                    <h3 id="myModalLabel">
                        Thành phần</h3>
                </div>
                <div class="modal-body">
                <input type="text" id="itemValue" value="" />
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close</button>
                    <button class="btn btn-primary" data-dismiss="modal">
                        OK</button>
                </div>
            </div>
            
        }
    </tbody>
</table>
<script language="javascript" type="text/javascript">
    $(document).on("click", ".open", function () {
        var itemName1 = $(this).data('id');
        $(".modal-body #itemValue").val(itemName1);
    });
</script>
