@{
    ViewBag.Title = "Index";
   
}
@using HotelBLL.Models
@model SearchProductImportViewModel
 

<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Đơn vị tính
            </th>
            <th>
                Số lượng 
            </th>
             <th>
                Nhập/Xuất
            </th>
            <th>
                Ngày nhập/xuất
            </th>
            <th>
                Duyệt
            </th>
            <th>
                Loại bỏ
            </th>
             
        </tr>
    </thead>
    <tbody>
       @{
           int i = 0;
           foreach (var item in Model.ProductImports)
           {
              
               i = i + 1;
               ProductImportViewModel subModel = new ProductImportViewModel();
               subModel.ProductInventory = item;
               subModel.Index = i;
               @Html.Partial("_ProductImportItem", subModel)
           }
       }
    </tbody>
</table>


