@using HotelDAL
@model IEnumerable<HotelDAL.CostCategory> 
@{
    ViewBag.Title = "Hotel Pro-Chi Phí";
    
}
<h3>CHI TIẾT CHI PHÍ</h3>

   
    

    
     <div class="btn-group" data-toggle="buttons-radio">
        <button id="btnNewCost" type="button" class="btn" onclick="GetCostByStatus(@((int)CostStatusEnum.New),1,20)" >
            Chờ duyệt</button>
        <button type="button" class="btn" onclick="GetCostByStatus(@((int)CostStatusEnum.Approved),1,20)">
            Đã duyệt</button>
        <button type="button" class="btn" onclick="GetCostByStatus(@((int)CostStatusEnum.WaitDisabled),1,20)">
            Xin hủy</button>
        <button type="button" class="btn" onclick="GetCostByStatus(@((int)CostStatusEnum.Disabled),1,20)">
            Đã hủy</button>
    </div>
    <div class=" form-inline " style="float: right" >
       <button class="btn  btn-success" onclick="ShowAddCostModal()">
            <strong>Thêm Chi Phí</strong></button>
    </div>

    <br/>
    <br/>

      
    <div id="CostTable">
    </div>
    
    <div id="WindowsFromAjax" style="width: auto !important; margin-left: auto; margin-right: auto;
        display: none;">
    </div>
   



<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        LoadNewCost();
    });

    
   

</script>