 
<h3>BÁO CÁO DỊCH VỤ THEO THÁNG</h3>
<div>
<div style="float: left; text-align: left">
    @* <strong >Đang thuê :@Model.CurrentInStay</strong>
        <br/>
        <strong >Số tiền chờ duyệt: @Model.WaitApproveMoney.ToString("N0") <span class="add-on">VND</span></strong>
        <br/>*@
    <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn active" onclick="SearchServiceMonthReportFromNow(3)">3 tháng </button>
        <button type="button" class="btn" onclick="SearchServiceMonthReportFromNow(6)">6 tháng</button>
        <button type="button" class="btn"onclick="SearchServiceMonthReportFromNow(9)">9 tháng</button>
        <button type="button" class="btn"onclick="SearchServiceMonthReportFromNow(12)">12 tháng</button>
        </div>
    </div>
    <div class=" form-inline form-search" style="float: right" >
        Từ <input id="fromDate" type="text" class="input-medium">
           Đến <input id="toDate" type="text" class="input-medium">
               <button type="submit" class="btn" onclick="SearchServiceMonthReport()">Báo cáo</button>
    </div>

</div>

<br/>
<br/>


<div  id="searchContent"></div>





<script type="text/javascript">


    var previousPoint = null;

    $(document).ready(function() {

        // ShowChart();
        $('.table-fixed-header').fixedHeader();

        $("#fromDate").datepicker({ dateFormat: 'dd-mm-yy' });
        $("#toDate").datepicker({ dateFormat: 'dd-mm-yy' });
        SearchServiceMonthReportFromNow(3);

    });


    function SearchServiceMonthReportFromNow(totalMonth) {
        $("#searchContent").html('<img src="../../Content/imgs/loading.gif"/>');
        $.ajax({
            url: "/ServiceReport/GetServiceMonthReportFromNow",
            type: "GET",
            data: { totalMonth: totalMonth },
            success: function (result) {

                $("#searchContent").fadeOut(100, function () {
                    $('#searchContent').html(result);
                    $("#searchContent").fadeIn(100);
                   
                });


            }
        });
    }

    function SearchServiceMonthReport() {

        var fromDate = ConvertDateVNToUS($('#fromDate').val()); //Do co che tu sinh ID cua MVC 
        var toDate = ConvertDateVNToUS($('#toDate').val());
        $(".btn").removeClass('active');
        $("#searchContent").html('<img src="../../Content/imgs/loading.gif"/>');
        $.ajax({
            url: "/ServiceReport/GetMonthIncomeReport",
            type: "GET",
            data: { fromDate: fromDate, toDate: toDate },
            success: function (result) {

                $("#searchContent").fadeOut(100, function () {
                    $('#searchContent').html(result);
                    $("#searchContent").fadeIn(100);
                });

            }
        });

    }
     
     
</script>
