 
<h3>BÁO CÁO DỊCH VỤ THEO NGÀY</h3>

<div>
<div style="float: left; text-align: left">
   
    <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn active" onclick="GetServiceReportFromNow(7)">7 ngày </button>
        <button type="button" class="btn" onclick="GetServiceReportFromNow(15)">15 ngày</button>
            <button type="button" class="btn"onclick="GetServiceReportFromNow(20)">20 ngày</button>
        </div>
    </div>
    <div class=" form-inline form-search" style="float: right" >
        Từ <input id="fromDate" type="text" class="input-medium">
           Đến <input id="toDate" type="text" class="input-medium">
               <button type="submit" class="btn" onclick="SearchServiceDayReport()">Báo cáo</button>
               

    </div>

</div>
<br/>
<br/>

<div  id="searchContent"></div>


<script type="text/javascript">

    var previousPoint = null;


    $(document).ready(function () {


        $('.table-fixed-header').fixedHeader();

        $("#fromDate").datepicker({ dateFormat: 'dd-mm-yy' });
        $("#toDate").datepicker({ dateFormat: 'dd-mm-yy' });

        GetServiceReportFromNow(7);


    });

   

    function GetServiceReportFromNow(totalDay) {

        $("#searchContent").html('<img src="../../Content/imgs/loading.gif"/>');
        $.ajax({
            url: "/ServiceReport/GetServiceReportFromNow",
            type: "GET",
            data: { totalDay: totalDay },
            success: function (result) {

                $("#searchContent").fadeOut(100, function () {
                    $('#searchContent').html(result);
                    $("#searchContent").fadeIn(100);
                    //ShowChart();
                });

            }
        });


    }

    function SearchServiceDayReport() {

        $("#searchContent").html('<img src="../../Content/imgs/loading.gif"/>');
        var fromDate = ConvertDateVNToUS($('#fromDate').val()); //Do co che tu sinh ID cua MVC 
        var toDate = ConvertDateVNToUS($('#toDate').val());
        $(".btn").removeClass('active');
        $.ajax({
                url: "/ServiceReport/GetServiceReport",
                type: "GET",
                data: { fromDate: fromDate, toDate: toDate },
                success: function(result) {

                    $("#searchContent").fadeOut(100, function() {
                        $('#searchContent').html(result);
                        $("#searchContent").fadeIn(100);
                    });

                }
            })
    };
     
     
</script>
