@using HotelBLL.Models.ServiceReport
@model ServiceReportViewModel
@{
    int totalDays = (Model.ToDate - Model.FromDate).Days + 1;
}
<table class="table table-bordered table-striped table-fixed-header " style="overflow-x: scroll ;">
    <thead class="header" >
        <tr>
            <th>
                STT
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên dịch vụ
            </th>
            <th>
                Số ngày
            </th>
            <th>
                Tổng cộng
            </th>
           
            @for (int i = 0; i < totalDays; i++)
            {
                <th>
                    @Model.FromDate.AddDays(i).ToString("dd-MM")
                </th>
            }
        </tr>
    </thead>
    
    <tbody>
        @{
            int index = 0;
            foreach (ServiceReportItemModel item in Model.ServiceItems)
            {
                index++;
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        <img src="/Content/imgs/product/@item.Product.PicURL" width="20" height="20"/>
                    </td>
                    <td>
                        @item.Product.ProductName
                    </td>
                    <td>
                        <strong>
                            @totalDays 
                        </strong>
                    </td>
                    <td>
                        <strong>
                            @item.QuantityInDays.Sum(i => i.Quantity)
                        </strong>
                    </td>
                    @for (int j = 0; j < totalDays; j++)
                    {
                        <td>
                            @item.QuantityInDays[j].Quantity
                        </td>
                    }
                </tr>
            }


        }


    </tbody> 
</table>

   



        




