 
<h3>BÁO CÁO DOANH THU THEO THÁNG</h3>
<div>
<div style="float: left; text-align: left">
    @* <strong >Đang thuê :@Model.CurrentInStay</strong>
        <br/>
        <strong >Số tiền chờ duyệt: @Model.WaitApproveMoney.ToString("N0") <span class="add-on">VND</span></strong>
        <br/>*@
    <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn active" onclick="SearchIncomeMonthReportFromNow(3)">3 tháng </button>
        <button type="button" class="btn" onclick="SearchIncomeMonthReportFromNow(6)">6 tháng</button>
        <button type="button" class="btn"onclick="SearchIncomeMonthReportFromNow(9)">9 tháng</button>
        <button type="button" class="btn"onclick="SearchIncomeMonthReportFromNow(12)">12 tháng</button>
        </div>
    </div>
    <div class=" form-inline form-search" style="float: right" >
        Từ <input id="fromDate" type="text" class="input-medium">
           Đến <input id="toDate" type="text" class="input-medium">
               <button type="submit" class="btn" onclick="SearchIncomeMonthReport()">Báo cáo</button>
    </div>

</div>

<br/>
<br/>

<div id="placeholder" style="width:800px;height:300px;"></div>
    

<div  id="searchContent"></div>





<script type="text/javascript">


    var previousPoint = null;

    $(document).ready(function() {

        // ShowChart();
        $('.table-fixed-header').fixedHeader();

        $("#fromDate").datepicker({ dateFormat: 'dd-mm-yy' });
        $("#toDate").datepicker({ dateFormat: 'dd-mm-yy' });
        SearchIncomeMonthReportFromNow(3);

    });




    function ShowChart() {

        var d2 = eval($("#chart").val());
        var xAxis = eval($("#xAxis").val());
        $.plot($("#placeholder"), [{ data: d2}],
             {
                 series: {
                     lines: { show: true },
                     points: { show: true }

                 },
                 grid: { hoverable: true, clickable: true },
                 yaxis: { min: 0 },
                 xaxis: { ticks: xAxis }
             }
             );

        flotHover();

    };

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    };

    function flotHover() {
        $("#placeholder").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));


            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[1],
                        y = addCommas(item.datapoint[1].toFixed(0));
                   

                    
                  
                    showTooltip(item.pageX, item.pageY,
                                  y + " VND");
                }
            }

        }
             );
    }

        
         
         
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    function SearchIncomeMonthReportFromNow(totalMonth) {
        $.ajax({
            url: "/Report/GetMonthIncomeReportFromNow",
            type: "GET",
            data: { totalMonth: totalMonth },
            success: function (result) {

                $("#searchContent").fadeOut(100, function () {
                    $('#searchContent').html(result);
                    $("#searchContent").fadeIn(100);
                    ShowChart();
                });


            }
        });
    }

    function SearchIncomeMonthReport() {

        var fromDate = ConvertDateVNToUS($('#fromDate').val()); //Do co che tu sinh ID cua MVC 
        var toDate = ConvertDateVNToUS($('#toDate').val());
        $(".btn").removeClass('active');
        $.ajax({
            url: "/Report/GetMonthIncomeReport",
            type: "GET",
            data: { fromDate: fromDate, toDate: toDate },
            success: function (result) {

                $("#searchContent").fadeOut(100, function () {
                    $('#searchContent').html(result);
                    $("#searchContent").fadeIn(100);
                    ShowChart();
                });

            }
        });

    }
     
     
</script>
